#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% set state = mlag.state | default(mlag_defaults.state) %}
{% set vlanid = mlag.local_if_vlan | regex_replace('\D+','') %}

{% if state == 'absent' %}

   {% set mlag_block = _eos_config | config_block('mlag configuration', indent=3) %}
   {% if mlag_block | join('\n') | re_search('^local-interface \S+') %}

no mlag configuration

   {% endif %}


   {# Configure peering vlan #}
   {% set vlan_block = _eos_config | config_block('vlan ' ~ vlanid, indent=3) %}
   {% if vlan_block %}

no vlan {{ vlanid }}

   {% endif %}

{% elif state == 'present' %}
   {# Configure MLAG #}
   {% set mlag_conf = _eos_config | config_block('mlag configuration', indent=3) %}

mlag configuration

   {# If mlag already configured, and it is not the same local-interface or
   {# peer-address, we need to remove the current values before setting the new information #}
   {% set localif = mlag_conf | join('\n') | re_search('local-interface (\S+)$') %}
   {% set peeraddr = mlag_conf | join('\n') | re_search('peer-address (\d+\.\d+\.\d+\.\d+)$') %}
   {% if localif %}
      {% if localif.group(1) != mlag.local_if_vlan %}

   no local-interface
   no peer-address

      {% endif %} {# localif.group(1) #}
   {% elif peeraddr %}
      {% if peeraddr.group(1) != mlag.peer_address %}

   no local-interface
   no peer-address

      {% endif %} {# peeraddr.group(1) #}
   {% endif %} {# localif / peeraddr #}

   {# Then set the new information #}

   local-interface {{ mlag.local_if_vlan }}
   peer-address {{ mlag.peer_address }}
   peer-link {{ mlag.peer_link_if }}

   {% if 'mlag_domain_id' in mlag %}

   domain-id {{ mlag.mlag_domain_id|default('mlagdomain') }}

   {% endif %}

   {% set mlag_shutdown = mlag.mlag_shutdown | default(mlag_defaults.mlag_shutdown) %}
   {%  if mlag_shutdown %}

   shutdown

   {% else %}

   no shutdown

   {% endif %} {# mlag_shutdown #}
{% endif %} {# state #}
